# Dependencies
node_modules/

# Build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
!.vscode/settings.json

# Env files
.env
.env.*
!.env.example

# Testing/coverage
coverage/

# Misc
*.local
